.login-form {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
     
}
.login-form-remember {
    float: left;
  }
.login-form-a {
    justify-content: center;
  }
.login-form-button {
    width: 100%;
}
 
.forget-form-button {
  width: 100%;
}